repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --inplace
  - repo: local
    hooks:
        - id: detect-secrets
          name: detect-secrets
          stages: [pre-commit]
          language: python
          entry:  detect-secrets-hook --baseline .secrets.baseline