.message-input {
  border: 1px solid #01ac0a;
  width: 99vw;
  flex: 1;
  overflow: hidden;
  padding: 4px;
  margin-left: 2px;
}

.message-input input {
  padding: 8px;
  border: 1px solid #01ac0a;
  border-radius: 4px;
  margin-right: 8px;
  width: 91vw;
  background-color: black;
  color: #01ac0a;
}

.message-input button {
  padding: 8px 16px;
  border-width: 1px;
  border-radius: 2px;
  border: solid;
  border-color: #01ac0a;
  cursor: pointer;
}

.message-input button:hover {
  background-color: black;
  color: #01ac0a;
  border: solid;
  border-color: #01ac0a;
}